<ion-app>
  <ion-menu side="start" menuId="m1" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Ionic Test
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
          <ion-item>
            <ion-label>Home</ion-label>            
          </ion-item>
          <ion-item>
            <ion-label>Lista Productos</ion-label>
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>